html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ensures the body never shrinks smaller than the screen */
    width: 100%;
}

body {
    background-image: url('../assets/wood-grain-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 
}

#hero-img {
    width: 102%;
    height: 17rem; 
    object-fit: cover; 
    margin-top: -0.65rem;

    /* Masking the image for the gradient effect */
    mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%); 
}

#index-content {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    padding: 2rem;
}

#index-center {
    
    width: 50rem;
    height: fit-content;

    padding: 0.5rem;

    margin-left: 1rem;
    margin-right: 1rem;

    
    background-color: var(--beige);

    border: 3px solid var(--light-blue);
    border-radius: 1.5rem;

    filter: drop-shadow(6px, 6px, 0px, var(--dark-blue));

    text-align: center;
}

/* Side Info */

.index-side {
    
    width: 15rem;
    height: fit-content;

    margin-left: auto;
    margin-right: auto;

    background-color: var(--beige);

    border: 3px solid var(--light-blue);
    border-radius: 1.5rem;

    filter: drop-shadow(0.5rem 0.5rem var(--dark-blue));
}

.side-img-container {
    width: 10rem;
    height: 20rem;

    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.side-img {
    width: 7.5rem;
    height: 7.5rem;
    
    margin-left: auto;
    margin-right: auto;

    border: 2px solid var(--dark-brown);
    border-radius: 1.5rem;
}

.index-hr {
    width: 75%;
    height: 0.7rem;

    color: var(--light-brown);

    margin-left: auto;
    margin-right: auto;
}

/* Hobbies Styles */
.hobbies-row {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
}

.hobbies-box {
    height: 16rem;
    width: 16rem;

    padding: 1.5rem;

    background-color: var(--light-brown);

    border: 3px solid var(--dark-brown);
    border-radius: 1.5rem;

    text-align: center;
}

.hobbies-btn {
    height: 5rem;
    width: 65%;

    border: none;
    border-radius: 1.5rem;
    background-color: var(--light-blue);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;

    margin-top: auto;
    margin-bottom: 1rem;
}

/* Text Styles */
.bio-text {
    color: var(--dark-brown);

    font-size: 2rem;
    font-weight: 700;

    margin-left: 3rem;
    margin-right: 3rem;
}

.index-title {
    color: var(--light-brown);

    font-size: 4rem;
    font-weight: bold;

    text-shadow: 0.2rem 0.2rem var(--dark-brown);
}

.index-subtitle {
    color: var(--light-brown);

    font-size: 3rem;
    font-weight: bold;

    filter: drop-shadow(3px, 3px, 0px, var(--dark-brown));
}

.image-subheader {
    color: var(--light-brown);

    font-size: 1.6rem;
    font-weight: bold;

    filter: drop-shadow(3px, 3px, 0px, var(--dark-brown));
}
