html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ensures the body never shrinks smaller than the screen */
    width: 100%;
}

body {
    background-image: url('../assets/wood-grain-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 
}

#hero-img {
    width: 102%;
    height: 17rem; 
    object-fit: cover; 
    margin-top: -0.65rem;

    /* Masking the image for the gradient effect */
    mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%); 
}

#index-content {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    padding: 2rem;

    width: 130rem;

    margin-left: auto;
    margin-right: auto;
}

#index-center {
    
    width: 60rem;
    height: fit-content;

    padding: 0.5rem;

    margin-left: 2.5rem;
    margin-right: 2.5rem;

    
    background-color: var(--beige);

    border: 3px solid var(--light-blue);
    border-radius: 1.5rem;

    filter: drop-shadow(0.5rem 0.5rem var(--dark-blue));

    text-align: center;
}

/* Side Info */

.index-side {
    
    width: 13rem;
    height: fit-content;

    margin-left: auto;
    margin-right: auto;

    background-color: var(--beige);

    border: 3px solid var(--light-blue);
    border-radius: 1.5rem;

    filter: drop-shadow(0.5rem 0.5rem var(--dark-blue));

    padding-top: 3rem;
}

.side-img-container {
    width: 10rem;
    height: 17rem;

    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.side-img {
    width: 8.5rem;
    height: fit-content;
    
    margin-left: auto;
    margin-right: auto;

    border: 2px solid var(--dark-brown);
    border-radius: 1.5rem;

    margin: 0;
}

.index-hr {
    width: 75%;
    font-weight: bold;
    border-width: 0.2rem;

    color: var(--light-brown);

    margin-left: auto;
    margin-right: auto;
}

/* Hobbies Styles */
.hobbies-row {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
}

.hobbies-box {
    height: 18rem;
    width: 18rem;

    padding: 0.5rem;
    margin: 1rem;

    background-color: var(--light-brown);

    border: 3px solid var(--dark-brown);
    border-radius: 1.5rem;

    text-align: center;
}

.hobbies-btn {
    height: 3rem;
    width: 65%;

    border: none;
    border-radius: 0.7rem;
    background-color: var(--light-blue);
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;

    margin-top: auto;
    margin-bottom: 1rem;
}

.border-photo-div {
    display: flex;
    flex-direction: column;
}

.border-photo-left {
    height: 18rem;
    width: 18rem;

    margin-top: auto;
    margin-bottom: auto;

    margin-right: 4rem;

    overflow: hidden;

    background-color: grey;

    object-fit: cover;
    
    border-radius: 0.8rem;
    border: solid 3px var(--beige)
}

.border-photo-right {
    height: 18rem;
    width: 18rem;

    margin-top: auto;
    margin-bottom: auto;

    margin-left: 4rem;

    overflow: hidden;

    background-color: grey;

    object-fit: cover; 

    border-radius: 0.8rem;
    border: solid 3px var(--beige)
}


/* Text Styles */
.bio-text {
    color: var(--dark-brown);

    font-size: 2rem;
    font-weight: 700;

    margin-left: 3rem;
    margin-right: 3rem;
}

.index-title {
    color: var(--light-brown);

    font-size: 4rem;
    font-weight: bold;

    text-shadow: 0.15rem 0.15rem var(--dark-brown);
}

.index-subtitle {
    color: var(--light-brown);

    font-size: 3rem;
    font-weight: bold;

    text-shadow: 0.15rem 0.15rem var(--dark-brown);
}

.image-subheader {
    color: var(--light-brown);

    font-size: 2.2rem;
    font-weight: bold;

    filter: drop-shadow(0.1rem 0.1rem 0px var(--dark-brown));

    margin-top: 0;
}
